/bin
/tweetstoimport2
/tweetstoimport
/Logs
/ExceptionLogs
/fanilu.txt
/filey.txt
/Filtered_obama_lab_pc.txt
/filtered_obama_laptop.txt
/Filtered_over1percent_lab_pc_2.txt
/Filtered_over1percent_lab_pc_obama_all.txt
/Filtered_over1percent_lab_pc_obama.txt
/Filtered_over1percent_lab_pc_zoo_all.txt
/Filtered_over1percent_lab_pc_zoo.txt
/Filtered_over1percent_lab_pc.txt
/filtered_ovrer1percent_laptop.txt
/Filterlang.txt
/Filtermicrosoft.txt
/Filterobamalama.txt
/Filterpeople.txt
/Filterproblem.txt
/FilterVSSAmple_laptop.txt
/FilterVSSample_PC_onlyobama.txt
/FilterVSSample_PC.txt
/Filterzoo.txt
/GardenhoseTweets_filterobama.txt
/GardenhoseTweets_just_ids_laptop.txt
/GardenhoseTweets_just_ids_obama_fromstream.txt
/GardenhoseTweets_just_ids_obama.txt
/GardenhoseTweets_just_ids.txt
/SearchTweets_obama_idslaptop.txt
/tweetids_obama.txt
/twitter4j.properties
/whythissucks.txt
/whythissucks2.txt
